.Header {
    background-color: #111;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    display: flex;


    align-items: center;
    justify-content: flex-end;

    padding: 0 30px;


}

.Header .logo {
    color: #F1F1F1;
    font-size: 22px;
}